* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.background {
  height: 100%;
  background-color: #c5f2f7;
}

.homepage-img {
  position: relative;
  margin-top: 100px;
  height: 210px;
  width: 300px;
}
.what-we-do {
  margin: 4rem 4rem;
  padding: 2rem 1.25rem;
  background-color: #b5ebebe9;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  border-color: rgb(1, 6, 1);
}

.heading-what-we-do {
  margin-bottom: 0.75rem;
}

.wwd01 {
  width: 25%;
  height: 200px;
  color: var(--heading);
}

.wwd02 {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  color: var(--heading);
}
.heading-what-we-do {
  color: var(--heading);
}
.wwd02 i {
  margin: 1rem 0rem;
}

.wwd02 i:hover {
  color: var(--helper);
}

.wwd02 h4 {
  margin: 0.5rem 0rem 1.5rem 0rem;
}

.wwd02 p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
  font-size: 14px;
}

.group {
  flex: 1;
  margin: 0;
  text-align: center;
}

.wwd02-icons {
  font-size: 3rem;
  color: #727272;
}

.app-name {
  
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 2rem 7.25rem;
}

.app-name h2 {
  margin-top: 1rem;
  color: var(--helper-tint);
}

.app-name p {
  margin: 1rem 0rem;
  color: #f0f0f0;
}

.app-name-about:hover {
  cursor: pointer;
  text-decoration: underline;
}

.app-name-btn {
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 0.95em 1.97em;
  background-color: transparent;
  border: 1px solid WHITE;
  border-radius: 30px;
  color: white;
}

.app-name-btn:hover {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  cursor: pointer;
}


/* TOP DIV */

.container-top {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.content {
  color: var(--heading);
  padding: 90px 40px;
}

.heading-top {
  font-size: 2.9rem;
  margin: 0px 0px 30px 0px;
}

.info-top {
  font-size: 1.2rem;
  margin: 0px 0px 30px 0px;
  line-height: 1.5;
}

.top-btn {
  display: inline-block;
  padding: 0.95em 1.97em;
  margin: 0 0.1em 0.1em 0;
  background-color: var(--helper);
  border: none;
  border-radius: 30px;
  color: white;
}

.top-btn:hover {
  background-color: var(--heading);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.top-btn1 {
  display: inline-block;
  padding: 0.95em 1.97em;
  margin: 0 0.1em 0.1em 1rem;
  background-color: transparent;
  border: 1px solid var(--helper);
  border-radius: 30px;
  color: var(--helper);
}

.top-btn1:hover {
  color: var(--heading);
  cursor: pointer;
  border: 1px solid var(--heading);
}

/* RegistrationForm.css */

h2 {
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label,
input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input {
  padding: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}


/*contact */
/* Reset and default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Contact Header */
.reg_head {
  padding-top: 9rem;
  color: black;
  padding-left: 7rem;
}

/* Contact Top Section */
.contact-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.cnt-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cnt-img img {
  width: 80%;
  border-radius: 20px;
}

.cnt-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Container */
.container11 {
  width: 100%;
  background: transparent;
  border-radius: 6px;
  padding: 150px 60px 30px 40px;
}

.container11 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left Side of Contact Content */
.container11 .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #03a9f4;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

/* Right Side of Contact Content */
.container11 .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #03a9f4;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #03a9f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #265870;
}

/* Responsive Styles */
@media (max-width: 950px) {
  .container11 {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container11 .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .container11 {
    margin: 40px 0;
    height: 100%;
  }
  .container11 .content {
    flex-direction: column-reverse;
  }
  .container11 .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container11 .content .left-side::before {
    display: none;
  }
  .container11 .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
